.my-orders{
     margin: 50px 0px

}

.my-orders .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.my-orders h2{
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
}

.my-orders-order{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
    align-items: center;
    gap: 30px;
    padding: 10px 20px;
    border: 1px solid #ff6347;
    border-radius: 5px;
    font-size: 14px;
    color: #454545;
}

.my-orders-order img{
    width: 50px;
}

.my-orders-order p span{
    color: #ff6347;
}

.my-orders-order p b{
    color: #454545;
    font-weight: 500;
}

.my-orders-order button{
    background-color: #ffe1ef;
    color: #454545;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.my-orders-order button:hover{
    background-color: #ff4500;
    color: white;
}

@media (max-width:768px){
    .my-orders-order{
        grid-template-columns: 1fr 2fr 1fr;
        gap: 5px;
        font-size: 12px;
    }
    .my-orders-order button{
        font-size: 10px;
    }
}

